/* test */

.body{
    background-color: white

}

.hero{
    color: yellow;
}

.nav-list{
    color: yellow;
}

.list{
    list-style: none;
}
.logo{
    color: black;
}

.logo-link:hover{
    color: red;
}